{% extends 'market/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
<div>
		<div>
			<h1 class="text-center">Welcome to MarketDays</h1>
		</div>
<br/>
</div>

<div class="row">
	<div class="container">
		<div class="col-md-4 box">
			<h2>What We Do</h2>
			<p>We set up an online market, for you, our users, to advertise and trade your items. We also provide a relaxing enviroment for you to enjoy the conversation and trading.</p>
		</div>
		<div class="col-md-4 box">
			<h2>How It Works</h2>
			<p>MarketDays has thousands of members online everyday. Using your items in your inventory, you can make offers to anyone in your market to trade. Others can also request to trade your items.</p>
		</div>
		<div class="col-md-4 box"
			<em><h2>What Members Do</h2></em>
			<p>On the last day of the online market session, all the participants must bring their trading items to the physical market location, and make the trade.</p>
		</div>
	</div>
</div>

{% endblock %}
