<!DOCTYPE html>
{% load staticfiles %}
{%load market_template_tags%}


<html>
    <head lang="en">
        <title>
            MarketDays-
            {% block title_block %}
                items trading platform
            {% endblock %}
        </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <!--import bootstrap -Walter -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--import jquery with jquery ui and theme -->
    <link rel="stylesheet" href="/static/js/res/jquery-ui.min.css">
    <script src="/static/js/res/external/jquery/jquery.js"></script>
    <script src="/static/js/res/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- import custom js code for application -->
    <!--<script src="/static/js/scripts/ui.js"></script>-->
    


<!-- Link for change navbar:https://work.smarchal.com/twbscolor/3.3.7/css/0063ff0742e2ffffffffffff0 -->
		<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

	<style>
	.box {
		width: 330px;
		padding: 10px;
		border: 5px solid gray;
		margin: 0;
	}
	
	{% block style_block %}
	{% endblock %}
	</style>
    </head>

    <body>
    <div class="container-fluid">
		<nav class="nav navbar-default">
			<ul class="nav navbar-nav navbar-left">
				<li><a href='https://www.youtube.com/watch?v=2Vv-BfVoq4g'>MarketDays</a></li>
				<li><a class="nav navbar-nav active" href="/market/">Home</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url 'sessionlist' %}">Session List</a></li>
				{% endif %}
				<li><a href="#">About</a></li>
			</ul>
				{% if user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">
						<!--Regarding the sessions we should create sth in user model to decide if we should display him your present session/ your messages/ or join sessions -->
            <li><a href="{% url 'notifications' user.username %}"><span class="glyphicon glyphicon-bell"></span> Notifications </a></li>
            <li><a href="{% url 'view_user' user.username %}"><span class="glyphicon glyphicon-user"></span> Your Profile </a></li>
						<li><a href="{% url 'auth_logout' %}?next=/market/"><span class="glyphicon glyphicon-log-out"></span> Log Out </a></li>
					</ul>
				{% else %}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
						<li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
					</ul>
				{% endif %}
		</nav>
			{% block body_block %}
			{% endblock %}

      <hr />
    </div>
    </body>
</html>
