<!DOCTYPE html>
{% load staticfiles %}
{%load market_template_tags%}
<html>
    <head>
        <title>
            MarketDays-
            {% block title_block %}
                items trading platform
            {% endblock %}
        </title>
    </head>

    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
		  {% if user.is_authenticated %}
                  <li><a href="{% url 'userProfile' %}">Your Profile</a></li>
		              <li><a href="{% url 'auth_logout' %}?next=/market/">Logout</a></li>
		  {% else %}
                  <li><a href="{% url 'auth_login' %}">Sign In</a></li>
                  <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
		  {% endif %}
                  <li><a href="{% url 'index' %}">Index</a></li>
            </ul>
        </div>
    </body>
</html>
