{% extends 'market/base.html' %}
{% load staticfiles %}
{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
<div>
	{% if user.is_authenticated %}
		<div>
			<h1 class="text-center"> Welcome back {{ user.username }}</h1>
		</div>
	{% else %}
		<div>
			<h1 class="text-center">Welcome to MarketDays</h1>
		</div>
	{% endif %}
		<br/>
</div>
<div class="container myCarousel">
	<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5500">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
		</ol>
		<div class="carousel-inner" role="listbox" >
			<div class="item active">
				<img class="first-slide" src="{%static 'images/marketPicture.jpg' %}" alt="Picture of ..." />
				{% if not user.is_authenticated %}
				<div class="carousel-caption">
					<h1>Join Us Now</h1>
					<p><font size="3">We got everything you need! Sign up and join the sessions now.</font></p>
					<p><a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}" role="button">Sign up today</a></p>
				</div>
				{% else %}
				<div class="carousel-caption">
					<h1>Join the Session Now</h1>
					<p><font size="3">We have different Session every month. Find a session which is suitable for you.</font></p>
					<p><a class="btn btn-lg btn-primary" href="{% url 'sessionlist' %}" role="button">Session List</a></p>
				</div>
				{% endif %}
			</div>
			<div class="item">
				<img class="second-slide" src="{%static 'images/marketPicture2.jpg' %}" alt="Picture of ..." />
				<div class="carousel-caption">
					<h1></h1>
					<p><font size="3"></font></p>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Prev</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-md-4 box">
			<h2>What We Do</h2>
			<p>We set up an event site for every session. We also provide a relaxing enviroment for you to enjoy the conversation and trading.</p>
		</div>
		<div class="col-md-4 box">
			<h2>How It Works</h2>
			<p>MarketDays have thousands members online everyday. Using your items in your inventory, you can ask anyone who joined within the same session for a trading. In contrast, others can also request to trade your items. </p>
		</div>
		<div class="col-md-4 box">

			<h2>What Members Do</h2>
			<p>On the transacting day of the session, all the participations must to bring their trading item and attend the transaction. </p>

		</div>
	</div>
</div>

{% endblock %}
