<!-- This template should be loaded into any template needing an item list -->
<!-- the following is the LHS of haggle view  + your inventory view-->
	{% if yourtradable %}
		{% for item in yourtradable %}
    <div id="inventory-card" class="ui-widget-content item-tooltip" style="background-color:#50f456;" title="{{item.itemName}} : {{item.itemDescription}}">
      {% if userprofile_object.user.username == user.username %}
      <img class="card-img-top img-thumbnail" src="{{item.picture.url}}" alt="Image of {{item.itemName}}" height="300" width="300">
      {% else %}
			<a href="{% url 'begin_haggle' item.itemID %}"><img class="card-img-top img-thumbnail" src="{{item.picture.url}}" alt="Image of {{item.itemName}}" height="300" width="300"></a>
      {% endif %}
      <div class="btn-group" style="padding:2px;">
        {% if userprofile_object.user.username == user.username %}
        <strong><a href="{% url 'delete_item' item.itemID %}" class="btn btn-sm btn-danger">Delete Item</a></strong>
        {% else %}
        <strong><a title="Date Posted : {{item.itemDatePosted}}" href="{% url 'begin_haggle' item.itemID %}" class="btn btn-primary btn-sm">Make Offer</a></strong>
        {% endif %}
				{% if sessionFinished and userprofile_object.userID != yourtradable.possessorID.userID %}
				<strong><a href="{% url 'collect_item' item.itemID %}" class="btn btn-sm btn-danger">Collect Item</a></strong>
				{% else %}
				<strong><a href="{% url 'collect_item' item.itemID %}" class="btn btn-sm btn-danger">yo muma</a></strong>
				{% endif %}
      </div>
    </div>
		{% endfor %}
	{% endif %}
<!-- this is for your inventory view only -->
  {% if yournontradable %}
		{% for item in yournontradable %}
    <div id="inventory-card" class="ui-widget-content" style="background-color:#f46650;">
			<img class="card-img-top img-thumbnail" src="{{item.picture.url}}" alt="Image of {{item.itemName}}" height="300" width="300">
			<h3 class="card-title">{{item.itemName}}</h3>
			<p style="font-size:15px;">{{item.itemDescription}}</p>
      <p><small class="text-muted">Posted {{item.itemDatePosted}}</small></p>
    </div>
		{% endfor %}
	{% endif %}
<!-- the following is for the session view, showing all the items in the session -->
  {% if sessionitems %}
		{% for item in sessionitems %} <!--The following is an item card meant to take you to the haggle view -->

    <div id="offer-card" class="ui-widget-content ui-corner-tr">
			<a href="{% url 'begin_haggle' item.itemID %}"><img class="card-img-top img-thumbnail" src="{{item.picture.url}}" alt="Image of {{item.itemName}}" height="300" width="300"></a>
			<h3 class="card-title">{{item.itemName}}</h3>
			<p style="font-size:15px;">{{item.itemDescription}}</p>
      <p><small class="text-muted">Posted {{item.itemDatePosted}}</small></p>
		  <strong><a href="{% url 'begin_haggle' item.itemID %}" class="btn btn-primary">Make Offer</a></strong>
    </div>


		{% endfor %}
	{% endif %}
  <!-- yourtradable, yournontradable, theirtradable, sessionitems -->
