{% if yourtradable %}
  {% for item in yourtradable %}
  <div id="offer-card" class="ui-widget-content item-tooltip" style="background-color:#50f456;" title="{{item.itemName}} : {{item.itemDescription}}">
    <img class="card-img-top img-thumbnail" src="{{item.picture.url}}" alt="Image of {{item.itemName}}" height="300" width="300">
    
  </div>
  {% endfor %}
{% endif %}
<!-- this is for your inventory view only -->
{% if yournontradable %}
  {% for item in yournontradable %}
  <div id="offer-card" class="ui-widget-content" style="background-color:#f46650;" title="{{item.itemName}} : {{item.itemDescription}}">
    <img class="card-img-top img-thumbnail" src="{{item.picture.url}}" alt="Image of {{item.itemName}}" height="300" width="300">
  </div>
  {% endfor %}
{% endif %}
