{% extends 'market/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	{% if registered %}
		<strong>thank you for registering!</strong>
		<a href="../">Return to the homepage</a><br />
	{% else %}
	<strong>register here!</strong><br />
	<form id=user_form" method="post" action="." enctype="multipart/form-data">
		{% csrf_token %}
		<!-- Display each form -->
		{{ profile_form.as_p }}
		<!-- Provide a button to submit -->
		<input type="submit" name="submit" value="Register" />
	</form>
	{% endif %}
{% endblock %}