{% extends 'market/base.html' %}

{% load staticfiles %}

{% block title %}{{ userprofile_object.user.username }} UserProfile{% endblock %}
{% block body_block %}

<h1>{{ userprofile_object.user.username}} Profile</h1>
<br/>
<div id="edit_profile">
	{% if userprofile_object.user.username == user.username %}
		<form method="post" action="." enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Update" />
		</form>
	{% else %}
		lol error or whatever

	{% endif %}
</div>

{% endblock %}
