{% extends 'market/base.html' %}

{% load staticfiles %}

{% block title %}{{ selecteduser.username }} UserProfile{% endblock %}
{% block body_block %}

<h1>{{selecteduser.username}} Profile</h1>
<br/>
<div>
	{% if selecteduser.username == user.username %}
		<form method="post" action="." enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Update" />
		</form>
	{% else %}
		lol error or whatever

	{% endif %}
</div>
<div id="edit_profile"></div>

{% endblock %}
