{% extends 'market/base.html' %}
{% load staticfiles %}
{% load market_template_tags %}
{% block title_block %}
	UserProfile
{% endblock %}
{% block body_block %}
	<div class="jumbotron">
		{% if userprofile_object %}
    <div class="row">
		<div class="page-header">
		<h1>That's your market {{ userprofile_object.user.username }}</h1>
		</div>
    <div class="col-sm-6">

		<dl>
			<dt><h3>First Name</h3></dt>
			<dd>{{userprofile_object.firstName}}</dd>
			<dt><h2>Last Name</h2></dt>
			<dd>{{userprofile_object.lastName}}</dd>
			<dt><h2>email</h2></dt>
			<dd>{{userprofile_object.user.email}}</dd>
			<dt><h2>phone number</h2></dt>
			<dd>{{userprofile_object.userPhoneNumber}}</dd>
			<dt><h2>Description</h2></dt>
			<dd>{{userprofile_object.userDescription}}</dd>
			<dt><h2>Interests</h2></dt>
			<dd>{{userprofile_object.userInterests}}</dd>
			<dt><h2>Date {{userprofile_object.firstName}} Joined</h2></dt>
			<dd>{{userprofile_object.userStartDate}}</dd>
		</dl>
  </div>
      <div class="col-sm-6">
        {% get_your_items userprofile_object.userID %}
      </div>
    </div>
		{% else %}
		<strong> This person doesn't exist! Should they? </strong>
		{% endif %}
    <form method="post" action="." enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Update" />
    </form>
	</div>
{% endblock %}
